* {
    margin: 0;
    padding: 0;
}
body{
    background: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.menu {
    
    /* border: 2px solid red; */
    margin: 0 auto;
    color: white;
    height: 100px;
    background-image: url("https://www.portalimprensa.com.br/content_file_storage/2021/06/24/impresso.PNG");
}
.gato {
    border: 1ox solid red;
    float: left;
    width: 80%;
    margin: 0 auto;
}
topo img {
    float: left !important;
}
.topo {

    text-align: center;
    background-color: tomato;
    display: inline;
    bottom: 80%;
    border-radius: 5px;
}
.topo a{
    color: white;
    text-decoration: none;



}
