.menu {
    /* border: 2px solid red; */
    height: 200px;
    text-align: center;
    background-color: yellow;
}
.logo {
    display: flex;
    justify-content: center;
        width: 200px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
}
.itens-menu {
    color: white;
    text-decoration: none;
    margin-left: 15px;

}
.noticia {
    /* border: 2px solid red; */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    color: yellow;
    margin-bottom: 0;
}
h6{
    margin-top: 0;
}
.imagem-noticia{
    display: flex;
    width: 500px;
    height: 300px;
}
.recente {
    /* border: 2px solid blue; */
    position: absolute;
    bottom: 200px;
    left: 1000px;
    width: 250px;
    height: 400px;
    
}
.noticia-recente-titulo{
    background-color: rgb(228, 226, 226);
    height: 50px;
    text-align: center;
    color: rgb(156, 175, 156);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.noticia-texto {
    margin-top: 0;
}
.link-categoria {
    color: yellow;
    display: block;
    text-decoration: none;
} 
.rodape {

    text-align: center;
    color: white;
    background-color: rgb(94, 97, 89);
    height: 50px;
}  
body{
    margin: 0;
}