body {
    background-image: linear-gradient(to left, rgb(190, 228, 20), rgb(111, 219, 39));

    text-align: center;
}
.menu {

    position: relative;
    top: 5em;
    margin: 0 auto;
    height: 80%;

    border-radius: 5px;
    width: 80%;

}
img {
    padding-top: 10px;
}
input{
width: 100px;
border-radius: 5px;
margin-top: 10px;
}
input[type="submit"]{
    width: 200px;
    margin-bottom: 15px;
    height: 50px;
    background-color: orangered;
    cursor: pointer;
}
